
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Sistema de Cadastro de Usuários</h5>
<hr />

<img src="https://www.brq.com/_nuxt/img/logo-brq.692d821.png" width="50%"/>

